.img-block {
    display: block;
    margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
}

.nav {
  width: 100%;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav__left {
  float: left;
}

.nav__right {
  float: right;
}

.nav__left li,
.nav__right li {
  display: inline-block;
}

.nav a {
  font-family: Helvetica, sans-serif;
  color: #2e2e2e;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color:#999999;
}

h1 {
  font-family: helvetica, sans-serif;
  color: #2e2e2e;
  font-size: 22px;
  font-weight: bold;
}

.headline {
  text-align: center;
}

.header {
  margin-left: 160px;
  margin-top: 50px;
}

.text {
  max-width: 700px;
  margin-left: 160px;
  margin-top: 50px;
}


p {
  font-family: helvetica, sans-serif;
  color: #2e2e2e;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
}

img {
  width: 100%;
  height: auto;
}

#schmetterling-gross {
  width: 100%;
}

#krake-gross {
  width: 70%;
}

#abstand {
  margin-left: 12px;
}

#abstand1 {
  margin-top: 12px;
  margin-bottom: 12px;
}

#abstand2 {
  margin-left: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
}

#abstandrechts {
  margin-right: 12px;
  margin-bottom: 12px;
}

#abstandunten {
  margin-bottom: 12px;
}

.krake {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  width: 420px;
}

.illustration {
  display: inline;
  margin-left: 160px;
  width: 710px;
  float: left;
}

.photo {
  display: inline;
  margin-left: 160px;
  width: 710px;
  float: left;
}

.breite {
  width: 340px;
}

.mittel {
  width: 300px;
}

.selbstdarstellung {
  display: inline;
  margin-left: 160px;
  width: 696px;
  float: left;
}
